@page
@model AspnetCoreStarter.Pages.Auth.ForgotPasswordModel
@{
  Layout = "Layouts/_BlankLayout";
  ViewData["Title"] = "Esqueceu-se da Palavra-passe";
  ViewData["isFront"] = true;
}

@section PageStyles {
  <link rel="stylesheet" href="~/vendor/css/pages/page-auth.dist.css">
  <link rel="stylesheet" href="~/css/asnet-theme.css">
}

<div class="authentication-wrapper authentication-cover">
  <!-- /Left Text -->
  <div class="authentication-inner row m-0">
    <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center justify-content-center p-12 pb-2">
      <img src="~/img/illustrations/auth-cover-forgot-password-illustration-light.png" class="auth-cover-illustration w-100" alt="auth-illustration" data-app-light-img="illustrations/auth-cover-forgot-password-illustration-light.png" data-app-dark-img="illustrations/auth-cover-forgot-password-illustration-dark.png">
      <img src="~/img/illustrations/auth-cover-mask-light.png" class="authentication-image" alt="mask" data-app-light-img="illustrations/auth-cover-mask-light.png" data-app-dark-img="illustrations/auth-cover-mask-dark.png">
    </div>
    <!-- /Left Text -->

    <!-- Forgot Password -->
    <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg position-relative p-sm-12 p-6">
      <div class="w-px-400 mx-auto pt-5 pt-lg-0">
        <!-- Logo -->
        <div class="app-brand mb-10">
          <a asp-page="/Index" class="app-brand-link gap-2">
            <span class="app-brand-logo demo">
              <img src="~/img/branding/logo-asnet.png" alt="ASNET Logo" height="40" />
            </span>
          </a>
        </div>
        <!-- /Logo -->
        <h4 class="mb-1">Esqueceu-se da Palavra-passe? 🔒</h4>
        <p class="mb-5">Introduza o seu email e enviaremos instruções para repor a sua palavra-passe</p>

        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="alert alert-success" role="alert">
                @Html.Raw(Model.Message)
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @Model.ErrorMessage
            </div>
        }

        <form id="formAuthentication" class="mb-5" method="POST">
          <div class="form-floating form-floating-outline mb-5">
            <input type="email" class="form-control" id="email" asp-for="Email" placeholder="Insira o seu email" autofocus required>
            <label for="email">Email</label>
          </div>
          <button class="btn btn-primary d-grid w-100">Enviar Link de Reposição</button>
        </form>

        <div class="text-center">
          <a href="/Auth/Login" class="d-flex align-items-center justify-content-center text-primary">
            <i class="ri-arrow-left-s-line me-1"></i>
            Voltar ao Login
          </a>
        </div>
      </div>
    </div>
    <!-- /Forgot Password -->
  </div>
</div>
