@page
@model AspnetCoreStarter.Pages.Auth.ForgotPasswordModel
@{
  Layout = "Layouts/_FrontLayout";
  ViewData["Title"] = "Esqueceu-se da Palavra-passe";
  ViewData["isFront"] = true;
}

@section PageStyles {
  <link rel="stylesheet" href="~/vendor/css/pages/page-auth.dist.css">
}

<div class="position-relative">
  <div class="authentication-wrapper authentication-basic container-p-y p-4 p-sm-0">
    <div class="authentication-inner py-6">

      <!-- Forgot Password -->
      <div class="card p-md-7 p-1">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center mt-5">
            <a asp-page="/Index" class="app-brand-link gap-2">
              <span class="app-brand-logo demo">
                <img src="~/img/branding/logo-asnet.png" alt="ASNET Logo" height="30" />
              </span>
              <span class="app-brand-text demo text-heading fw-bold">@TempData.Peek("appName")</span>
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-1">Esqueceu-se da Palavra-passe? </h4>
          <p class="mb-5">Introduza o seu email e enviaremos instruções para repor a sua palavra-passe</p>

          @if (!string.IsNullOrEmpty(Model.Message))
          {
              <div class="alert alert-success" role="alert">
                  @Html.Raw(Model.Message)
              </div>
          }
          @if (!string.IsNullOrEmpty(Model.ErrorMessage))
          {
              <div class="alert alert-danger" role="alert">
                  @Model.ErrorMessage
              </div>
          }

          <form id="formAuthentication" class="mb-5" method="POST">
            <div class="form-floating form-floating-outline mb-5">
              <input type="email" class="form-control" id="email" asp-for="Email" placeholder="Insira o seu email" autofocus required>
              <label for="email">Email</label>
            </div>
            <button class="btn btn-primary d-grid w-100">Enviar Link de Reposição</button>
          </form>

          <div class="text-center">
            <a href="/Auth/Login" class="d-flex align-items-center justify-content-center">
              <i class="icon-base ri-arrow-left-s-line me-1"></i>
              Voltar ao Login
            </a>
          </div>
        </div>
      </div>
      <!-- /Forgot Password -->
    </div>
  </div>
</div>
