@page
@model AspnetCoreStarter.Pages.Auth.LoginModel
@{
  Layout = "Layouts/_FrontLayout";
  ViewData["Title"] = "Login";
  ViewData["isFront"] = true;
}

@section PageStyles {
  <link rel="stylesheet" href="~/vendor/css/pages/page-auth.dist.css">
}

<div class="position-relative">
  <div class="authentication-wrapper authentication-basic container-p-y p-4 p-sm-0">
    <div class="authentication-inner py-6">

      <!-- Login -->
      <div class="card p-md-7 p-1">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center mt-5">
            <a asp-page="/Index" class="app-brand-link gap-2">
              <span class="app-brand-logo demo">
                <img src="~/img/branding/logo-asnet.png" alt="ASNET Logo" height="30" />
              </span>
              <span class="app-brand-text demo text-heading fw-bold">@TempData.Peek("appName")</span>
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-1">Bem-vindo à gestão de dispositivos @TempData.Peek("appName")</h4>
          <p class="mb-5">Por favor, inicie sessão na sua conta</p>

          @if (!string.IsNullOrEmpty(Model.ErrorMessage))
          {
              <div class="alert alert-danger" role="alert">
                  @Model.ErrorMessage
              </div>
          }

          <form id="formAuthentication" class="mb-5" method="POST">
            <div class="form-floating form-floating-outline mb-5">
              <input type="text" class="form-control" id="email" asp-for="Email" placeholder="Insira o seu email ou utilizador" autofocus>
              <label for="email">Email / Utilizador</label>
            </div>
            <div class="mb-5">
              <div class="form-password-toggle">
                <div class="input-group input-group-merge">
                  <div class="form-floating form-floating-outline">
                    <input type="password" id="password" class="form-control" asp-for="Password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                    <label for="password">Palavra-passe</label>
                  </div>
                  <span class="input-group-text cursor-pointer ps-1 pe-0"><i class="icon-base ri-eye-off-line icon-md"></i></span>
                </div>
              </div>
            </div>
            <div class="mb-5 d-flex justify-content-between mt-5">
              <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" id="remember-me" asp-for="RememberMe">
                <label class="form-check-label" for="remember-me">
                  Lembrar-me
                </label>
              </div>
              <a href="/Auth/ForgotPassword" class="float-end mb-1 mt-2">
                <span>Esqueceu-se da palavra-passe?</span>
              </a>
            </div>
            <div class="mb-5">
              <button class="btn btn-primary d-grid w-100" type="submit">Entrar</button>
            </div>
          </form>

          <p class="text-center">
            <span>Novo na nossa plataforma?</span>
            <a href="/Auth/Register">
              <span>Criar uma conta</span>
            </a>
          </p>
        </div>
      </div>
      <!-- /Login -->
    </div>
  </div>
</div>
