@page
@model AspnetCoreStarter.Pages.Auth.RegisterModel
@{
  Layout = "Layouts/_BlankLayout";
  ViewData["Title"] = "Registo";
}

@section PageStyles {
  <link rel="stylesheet" href="~/vendor/css/pages/page-auth.dist.css">
}

<div class="position-relative">
  <div class="authentication-wrapper authentication-basic container-p-y p-4 p-sm-0">
    <div class="authentication-inner py-6">

      <!-- Register Card -->
      <div class="card p-md-7 p-1">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center mt-5">
            <a asp-page="/Index" class="app-brand-link gap-2">
              <span class="app-brand-logo demo">
                @await Html.PartialAsync("../_Partials/_Macros")
              </span>
              <span class="app-brand-text demo text-heading fw-bold">@TempData.Peek("appName")</span>
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-1">A aventura começa aqui 🚀</h4>
          <p class="mb-5">Torne a gestão da sua organização fácil e intuitiva!</p>

          <form id="formAuthentication" class="mb-5" action="/Auth/Login" method="GET">
            <div class="form-floating form-floating-outline mb-5">
              <input type="text" class="form-control" id="username" name="username" placeholder="Insira o seu nome de utilizador" autofocus>
              <label for="username">Nome de Utilizador</label>
            </div>
            <div class="form-floating form-floating-outline mb-5">
              <input type="text" class="form-control" id="email" name="email" placeholder="Insira o seu email">
              <label for="email">Email</label>
            </div>
            <div class="mb-5">
              <div class="form-password-toggle">
                <div class="input-group input-group-merge">
                  <div class="form-floating form-floating-outline">
                    <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                    <label for="password">Palavra-passe</label>
                  </div>
                  <span class="input-group-text cursor-pointer"><i class="icon-base ri ri-eye-off-line icon-md"></i></span>
                </div>
              </div>
            </div>

            <div class="mb-5">
              <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms">
                <label class="form-check-label" for="terms-conditions">
                  Eu concordo com os
                  <a href="javascript:void(0);">termos e condições</a>
                </label>
              </div>
            </div>
            <button class="btn btn-primary d-grid w-100">Criar conta</button>
          </form>

          <p class="text-center">
            <span>Já tem uma conta?</span>
            <a href="/Auth/Login">
              <span>Entre em vez disso</span>
            </a>
          </p>
        </div>
      </div>
      <!-- Register Card -->
      <img src="~/img/illustrations/auth-basic-mask-light.png" class="authentication-image d-none d-lg-block" alt="triangle-bg" data-app-light-img="illustrations/auth-basic-mask-light.png" data-app-dark-img="illustrations/auth-basic-mask-dark.png" />
      <img src="~/img/illustrations/tree-3.png" alt="auth-tree" class="authentication-image-1 d-none d-lg-block" />
      <img src="~/img/illustrations/auth-basic-character.png" alt="auth-character" class="authentication-image-2 d-none d-lg-block" />
    </div>
  </div>
</div>
